@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;700&display=swap");
.arrow, .features__arrow, .about__img-arrow {
  width: 2rem;
  height: 2rem;
  background: inherit;
}

.about__img-arrow {
  transform: translateY(1rem) rotate(45deg);
}
@media (min-width: 48rem) {
  .about__img-arrow {
    transform: rotate(45deg);
    position: absolute;
    top: 94.3%;
  }
}
@media (min-width: 62rem) {
  .about__img-arrow {
    top: 45%;
    right: -1rem;
  }
}

.features__arrow {
  transform: rotate(45deg);
  position: absolute;
  right: 46.5%;
  bottom: -1rem;
  z-index: 1;
}
@media (min-width: 48rem) {
  .features__arrow {
    transform: rotate(45deg);
    position: absolute;
    top: 45%;
    right: -1rem;
  }
}

.button {
  background: 0 0;
  padding: 0.8rem 2.5rem;
  font-size: 1rem;
  font-family: inherit;
  margin-top: 1rem;
  cursor: pointer;
}

.button--blue {
  color: #009999;
  border: 2px solid #009999;
}
.button--blue:hover, .button--blue:active {
  color: #222222;
  background: #009999;
}

.button--brown {
  border: 2px solid #5e582f;
  color: #5e582f;
}
.button--brown:hover, .button--brown:active {
  background: #5e582f;
  color: #222222;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Oswald", sans-serif;
  background: #222222;
}

.container {
  margin: 0 auto;
  display: grid;
  max-width: 137rem;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh 30rem 90rem 48rem auto 22rem 100vh;
  grid-template-areas: "landing" "about" "features" "personal" "awards" "testimonial" "footer";
}
@media (min-width: 40rem) {
  .container {
    grid-template-rows: 100vh 30rem 90rem 48rem auto 22rem 100vh;
  }
}
@media (min-width: 48rem) {
  .container {
    grid-template-rows: 100vh 30rem 45rem 25rem auto 22rem 100vh;
  }
}
@media (min-width: 62rem) {
  .container {
    grid-template-rows: 100vh 20rem 25rem 25rem auto 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "landing landing" "about about" "features features" "personal personal" "awards testimonial" "footer footer";
  }
}

.landing-page {
  background: #222222;
  margin: 0;
  /*position: relative;*/
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: landing;
}

.landing-page__title {
  width: 20rem;
  text-align: center;
  color: #5e582f;
  font-size: 2.4rem;
  line-height: 2.5rem;
  font-weight: 400;
  margin: 5px 0;
}

.landing-page___subtitle {
  color: #999999;
  font-family: sans-serif;
  font-size: 0.9rem;
}

.about {
  grid-area: about;
  grid-column: span 4;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 18rem 12rem;
  grid-template-areas: "img" "abouttext";
}
@media (min-width: 62rem) {
  .about {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "img abouttext";
    grid-template-rows: 1fr;
  }
}

.about__image {
  grid-area: img;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.about__text-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__image-container {
  width: auto;
  height: 100%;
  position: absolute;
  top: -4rem;
  right: 6rem;
}

.image-container__laptop {
  height: auto;
  width: 80%;
}

.about__text-cell {
  grid-area: abouttext;
  background: #5e582f;
  margin: 0;
}

.about__title {
  /*TODO*/
}

.features {
  grid-area: features;
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
}
@media (min-width: 48rem) {
  .features {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media (min-width: 62rem) {
  .features {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
}

.feature__item {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#device,
#react,
#node,
#mongo {
  width: auto;
  height: 120px;
}

#express {
  width: auto;
  height: 110px;
}

.mongo {
  background: #333333;
  position: relative;
}

.react {
  background: #111111;
}

.express {
  background: #999999;
}

/*.feature__title--strategy,
.feature__title--management {
  color: white;
}*/
.node {
  background: #009999;
}

.feature__title {
  font-weight: 400;
  font-size: 1.8rem;
  margin: 0.9rem;
}

.feature__title--white {
  color: white;
}

.feature__title--yellow {
  color: #ff9900;
}

.feature__title--blue {
  color: #009999;
}

.feature__description {
  font-size: 0.7rem;
  font-family: sans-serif;
  width: 70%;
}

.feature__description--white {
  color: white;
}

.feature__description--yellow {
  color: #ff9900;
}

.feature__description--blue {
  color: #009999;
}

.personal-section {
  grid-area: personal;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "info" "photo" "coffee";
}
@media (min-width: 40rem) {
  .personal-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1.2fr 1fr;
    grid-template-areas: "info info photo" "coffee coffee coffee";
  }
}
@media (min-width: 48rem) {
  .personal-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "info photo coffee";
  }
}
@media (min-width: 62rem) {
  .personal-section {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "info info photo coffee";
  }
}

.personal-info {
  grid-area: info;
  background: #eee;
}

.personal-section__photo {
  grid-area: photo;
}

.personal-section__email {
  grid-area: coffee;
  background: #999999;
}

.works {
  grid-area: awards;
  background: #009999;
  text-align: center;
}

.works__title {
  color: #333333;
  margin-bottom: 0;
}

.works__subtitle {
  color: #333333;
  margin-top: 0;
}

.works__image-container {
  display: flex;
  flex-direction: column;
  /*justify-content: space-around;*/
  align-items: center;
  height: 90%;
}
@media (min-width: 48rem) {
  .works__image-container {
    flex-direction: row;
    /*flex-wrap: wrap;*/
    justify-content: space-evenly;
    height: auto;
  }
}

.works__photo {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  width: 50%;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
}
.works__photo:hover, .works__photo:active {
  transform: scale(1.05);
}
@media (min-width: 48rem) {
  .works__photo {
    width: auto;
    margin: 0 0 2rem 0;
    height: 8rem;
    align-self: flex-end;
    max-height: 15rem;
  }
}

.works__photo--adjustment {
  height: 8.5rem;
}

/*
.awards__photo--no-shadow {
  box-shadow: none;
}*/
.testimonial {
  grid-area: testimonial;
  background: #5e582f;
}

.footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #222222;
}

.footer__title {
  color: white;
}

.footer__description {
  color: #999999;
}

/*# sourceMappingURL=main.css.map */
