@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;700&display=swap');
@import "../ui/variables";
@import "../ui/media-queries";
@import "../ui/arrows";
@import "../ui/buttons";


body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  background: map_get($colors, dark);
}

.backdrop {
  display: none;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.7;
  transition: opacity 500ms;
  z-index: 10;
}

.container {
  margin: 0 auto;
  display: grid;
  max-width: 240rem;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh 30rem /*27rem 27rem*/ 90rem auto auto auto 100vh;
  grid-template-areas:
          "landing"
          "about"
          "features"
          "personal"
          "awards"
          "testimonial"
          "footer";

  @include medium {
    grid-template-rows: 100vh 30rem /*27rem 27rem*/ 90rem 48rem auto auto 100vh;
  }

  @include large {
    grid-template-rows: 100vh 30rem /*27rem 27rem*/ 45rem 25rem 25rem 25rem 100vh;
  }

  @include desktop {
    grid-template-rows: 100vh 20rem /*27rem 27rem*/ 25rem 25rem 25rem 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "landing landing"
                          "about about"
                          "features features"
                          "personal personal"
                          "awards testimonial"
                          "footer footer";
  }
}


.landing-page {
  background: map_get($colors, dark);
  margin: 0;
  /*position: relative;*/
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: landing;
  position: relative;
}

.landing-page__image-container {
  width: 40%;
  text-align: center;

}

.landing-page__logo {
  width: 30%;
  left: 43.5%;
  top: 24%;
  animation: up-and-down 1s ease-out 1s;
  max-height: 200px;
  max-width: 216.16px;
  min-height: 90px;
  min-width: 97px;
}




.landing-page__title {
  width: 20rem;
  text-align: center;
  color: map_get($colors, brown);
  font-size: 2.4rem;
  line-height: 2.5rem;
  font-weight: 400;
  margin: 5px 0;
}

.landing-page___subtitle {
  color: map_get($colors, grey);
  font-family: sans-serif;
  font-size: 0.75rem;
  margin-bottom: 2rem;
}

.about {
  grid-area: about;
  grid-column: span 4;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.2fr 0.9fr;
  grid-template-areas:
          "img"
          "abouttext";

  @include large {
    grid-template-rows: 1.2fr 1.1fr;
  }

  @include desktop {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "img abouttext";
    grid-template-rows: 1fr;
  }
}

.about__image {
  grid-area: img;
  /*background: white;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #222222 url("images/scalability.jpg") no-repeat center;
  background-size: cover;
  color: map_get($colors, dark);
}


.about__image-container {
  width: auto;
  height: 100%;
  position: absolute;
  top: -4rem;
  right: 6rem;

}



.image-container__laptop {
  height: auto;
  width: 80%;
}


.about__text-cell {
  grid-area: abouttext;
  background: map_get($colors, brown);
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  @include desktop {
    /*
    justify-content: center;
    */
    align-items: flex-start;
  }
}


.about__title {
  margin-left: 1.5rem;
  margin-bottom: 0;
  margin-top: 1.5rem;
  /*margin-top: 3rem;*/
  color: #1f1d1a;
  align-self: center;
  z-index: 1;

  @include desktop {
    align-self: center;
  }
}

.about__subtitle {
  margin-left: 1rem;
  z-index: 1;
  color: #1f1d1a;
  margin-top: 0.5rem;
  width: 80%;
  align-self: center;
  @include large {
    font-size: 1.3rem;
  }
}

.features {
  grid-area: features;
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);

  @include large {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  @include desktop {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
}


.feature__item {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#device,
#react,
#node,
#mongo {
  width: auto;
  height: 120px;
}

#express {
  width: auto;
  height: 110px;
}

.mongo {
  background: map_get($colors, darker-grey);
  position: relative;
}

.react {
  background: map_get($colors, darker);
}



.express {
  background: map_get($colors, grey);
}

/*.feature__title--strategy,
.feature__title--management {
  color: white;
}*/

.node {
  background: map_get($colors, blue);
}

.feature__title {
  font-weight: 400;
  font-size: 1.8rem;
  margin: 0.9rem;
}

.feature__title--white {
  color: white;
}

.feature__title--yellow {
  color: map_get($colors, yellow);
}

.feature__title--blue {
  color: map_get($colors, blue);
}

.feature__description {
  font-size: 0.8rem;
  font-family: sans-serif;
  width: 75%;
}

.feature__description--white {
  color: white;
}

.feature__description--yellow {
  color: map_get($colors, yellow);
}

.feature__description--blue {
  color: map_get($colors, blue);
}


.personal-section {
  grid-area: personal;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 21rem 21rem 18rem;
  grid-template-areas: "info"
                       "photo"
                       "coffee";

  @include medium {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1.2fr 1fr;
    grid-template-areas:
            "info info photo"
            "coffee coffee coffee";
  }

  @include large {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
            "info photo coffee"

  }

  @include desktop {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "info info photo coffee";
  }

}

.personal-section__info {
  grid-area: info;
  background: map_get($colors, light-grey);
  text-align: right;

}




.personal-info__container {
  display: grid;
  width: 100%;
  height: 100%;
  background: map_get($colors, brown);
  justify-content: center;
  position: relative;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "profile education"
                       "experience languages";
}


.profile__title {
  color: map_get($colors, white);
}

.profile__description {
  font-size: 11px;
  color: map_get($colors, darker);
  width: 80%;
  margin-top: 0;
  @include medium {
    margin-top: 11px;
  }
  @include large {
    font-size: 9px;
  }
  @include desktop {
    font-size: 11px;
  }

}

.personal-info-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.personal-info__profile {
  grid-area: profile;
  @extend .personal-info-flex

}

.personal-info__experience {
  grid-area: experience;
  @extend .personal-info-flex
}

.personal-info__vertical-line {
  position: absolute;
  border: 1px solid map_get($colors, grey);
  left: 49.9%;
  top: 7%;
  height: 85%;

}

.personal-info__education {
  grid-area: education;
  @extend .personal-info-flex
}

.personal-info__languages {
  grid-area: languages;
  @extend .personal-info-flex
}


.personal-section__photo {
  grid-area: photo;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("images/profile.jpg") no-repeat center;
  background-size: cover;
  opacity: 1;
  transition: opacity 1s;
  &:hover, {
    .big-icon {
      opacity: 1;
    }
    opacity: 0.3;
  }
  }



.big-icon {

  opacity: 0;
  transition: opacity 1s;
}


.personal-section__quote {
  grid-area: coffee;
  background: map_get($colors, grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: relative;

  &:hover {
    .quote__block {
      opacity: 0;
    }
    .personal-section__background-image {
      opacity: 1;
    }
  }
}

.personal-section__background-image {
  position: absolute;
  top: 0;
  width: auto;
  height: 400px;
  opacity: 0;
  transition: opacity 1s;
}


.quote__block {
  font-size: 1.1rem;
}

.quote__block {
  background-color:map_get($colors, grey);
  border: solid 2px #757575;
  padding: 1em;
  position: relative;
  transition: opacity 1s;
  &:before {
    background-color: map_get($colors, grey);
    bottom: -10%;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: -10%;
    transform: rotate(-15deg) skew(5deg);
  }
  cite {
    display: block;
    font-style: italic;
    text-align: right;
    &:before {
      content: "- ";
    }
  }
  > * {
    position: relative;
    z-index: 1;
  }


}


.works {
  grid-area: awards;
  background: map_get($colors, blue);
  text-align: center;
  @include large {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

  }
}



.works__title {
  color: map_get($colors, darker-grey);
  margin-bottom: 0;
  @include  large {
  }

}

.works__subtitle {
  color: map_get($colors, darker-grey);
  margin-top: 0;
  @include  large {

  }
}

.works__image-container {
  display: flex;
  flex-direction: column;
  /*justify-content: space-around;*/
  align-items: center;
  height: 90%;
  @include large {
    flex-direction: row;
    /*flex-wrap: wrap;*/
    justify-content: space-evenly;
    height: auto;

  }
}

.works__photo {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  width: 50%;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  cursor: pointer;
  &:hover,
  &:active {
    transform: scale(1.05);
  }

  @include large {
    width: auto;
    margin: 0 0 2rem 0;
    height: 8rem;
    align-self: flex-end;
    max-height: 15rem;
  }
}

.works__photo--adjustment {
  @include large {
    height: 8.5rem;
  }

}


.works__modal {
  display: none;
  position: fixed;
  top: 19%;
  left: 30%;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: 50rem;
  width: 40rem;
  z-index: 100;
}

.modal__image-container {
  margin-top: 2rem;
  width: 50%;
  height: auto;
}

.modal__image {
  width: 100%;
}



.testimonial {
  grid-area: testimonial;
  background: map_get($colors, brown);
  text-align: center;
  @include large {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.certificates__text {
  margin-bottom: 2rem;
  color: map_get($colors, mid-grey);
  @include large {
    margin-bottom: 0;
  }
}
.certificates__title {
  margin-bottom: 0;
}

.certificates__subtitle {
  margin-top: 0;
}

.certificates__image-container {
  width: 50%;
  margin: 0 auto;
  @include large {
    width: 70%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  @include desktop {
    height: 16rem;
    width: 95%;
    justify-content: space-evenly;
  }
}

.certificates__photo {
  width: 100%;
  margin-bottom: 1rem;
  cursor: pointer;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  &:last-of-type {
    margin-bottom: 2rem;
  }
  @include large {
    width: auto;
    max-height: 6.4rem;
    &:last-of-type {
      margin-bottom: 1rem;
    }
  }
  @include desktop {
    width: auto;
    max-width: 9rem;
    max-height: none;
  }
  &:hover {
    transform: scale(1.05);
  }
}




.footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: map_get($colors, dark);
  position: relative;
}

.footer__title {
  color: white;
  text-align: center;

}

.footer__description {
  color: map_get($colors, grey);
  text-align: center;
}

.footer__social-list {
  list-style: none;
  padding: 0;
  margin: 2rem 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social-list__item {
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid map_get($colors, darker-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}

.hackerrank-icon {
  color: map_get($colors, mid-dark);
  transition: color 500ms;
}


.hackerrank {
  transition: background-color 500ms, border-color 500ms;
  &:hover {
    background-color: #1ba94c;
    border-color: #1ba94c;
    .hackerrank-icon {
      color: white;
    }
  }
}

.github-icon {
  color: map_get($colors, mid-dark);
  transition: color 500ms;
}

.github {
  transition: background-color 500ms, border-color 500ms;
  &:hover {
    background-color: #0f1113;
    border-color: #0f1113;
    .github-icon {
      color: white;
    }
  }
}

.linkedin-icon {
  color: map_get($colors, mid-dark);
  transition: color 500ms;
}

.linkedin {
  transition: background-color 500ms, border-color 500ms;
  &:hover {
    background-color: #4875b4;
    border-color: #4875b4;
    .linkedin-icon {
      color: white;
    }
  }
}

.footer__background {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to bottom, rgba(34, 34, 34, 0.95) 40%, transparent), url("images/boat-footer.jpg") bottom 40% center/cover no-repeat;
  background-size: cover;
  height: 22rem;
  z-index: 10;
  @include large-desktop {
    background: linear-gradient(to bottom, rgba(34, 34, 34, 0.95) 40%, transparent), url("images/boat-footer.jpg") bottom 35% center/cover no-repeat;
  }
}

@keyframes up-and-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2rem);
}

  100% {
    transform: translateY(0);
  }
}
