$colors:
        (dark: #222222, brown: #5e582f,
        blue: #009999, grey: #999999,
        yellow: #ff9900, darker: #111111,
        darker-grey: #333333, light-grey: #eee,
        mid-grey: #1f1d1a, white: #d2d2d2,
        mid-dark: #666666);