.arrow {
  width: 2rem;
  height: 2rem;
  background: inherit;
}

.about__img-arrow {
  @extend .arrow;
  transform: rotate(45deg);
  position: absolute;
  top: -6%;
  left: 48%;

  @include desktop {
    position: absolute;
    left: -1rem;
    top: 45%;
  }
}




.features__arrow {
  @extend .arrow;
  transform: rotate(45deg);
  position: absolute;
  right: 46.5%;
  bottom: -1rem;
  z-index: 1;
  @include large {
    transform: rotate(45deg) ;
    position: absolute;
    top: 45%;
    right: -1rem;
  }
}

.fix {
  display: none;
  @include desktop {
    display: block;
  }
}